.content-box {
  display: flex;
  height: 100%;
  justify-content: space-around;
  position: relative;
}
.login-form {
  position: absolute;
  left: 20px;
  top: 20px;
}
.login-form input {
  width: 200px;
  height: 20px;
}
.login-form button {
  height: 25px;
}

.content-box__left {
  width: 40%;
  height: 100%;
  margin-left: 10px;
}
.content-box__right {
  width: 50%;
}
.content-box__right iframe {
  width: 100%;
  height: 50%;
}
ul {
  margin-left: 0;
  list-style-type: none;
  overflow: auto;
  padding-left: 0;
}
ul button {
  margin-right: 10px;
  color: #fb09fe;
  font-size: 13px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
ul li {
  margin-bottom: 10px;
  color: black;
}

#todo-list__box {
  width: 80%;
  margin-top: 15px;
  height: 270px;
  background-color: #bb88fd;
  padding: 8px 8px;
  overflow: auto;
}
#todo-list__box::-webkit-scrollbar {
  display: none;
}

#quote span {
  text-align: center;
  display: block;
  font-size: 15px;
  margin: 10px 0;
}

iframe {
  margin-bottom: 5px;
}

#logout {
  display: flex;
  font-size: 9px;
  justify-content: flex-end;
  box-sizing: border-box;
}

#logout a {
  color: black;
}
